h1 {
    color: blue;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {

    background-color: aqua;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}